/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
  background-color: #bdc3c7;
  width           : 250px;
  padding         : 0;
  margin          : 40px 50px;
}

.profil {
  background-color: #31363b;
  color           : #bdc3c7;
  font-size       : 14px;
  box-shadow      : 2px 2px 4px 2px rgba(0, 0, 0, .4);
  overflow        : auto;
}

.jmeno {
  font-size: 25px;
  color    : white;
}

.foto {
  width: 250px;
}

.logo {
  border-radius   : 50%;
  background-color: #b92e81;
  position        : absolute;
  left            : 220px;
  top             : 180px;
}

.obsah {
  width           : 250px;
  font-size       : 13px;
  color           : white;
  text-align      : left;
  background-color: #31363b;
  padding         : 20px 10%;
  margin          : 0;
}

h1, ul {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.odkazy a {
  font-size      : 10px;
  font-weight    : bold;
  color          : #bdc3c7;
  text-decoration: none;
  text-align     : center;
  display        : inline-block;
}

ul {
  list-style-type: none;
  padding        : 0;
}

li.portfolio a {
  display   : inline-block;
  padding   : 8px 10px 8px 10px;
  width     : 100%;
  border-top: 1px solid #3f464d;
}

li.facebook a {
  display     : inline-block;
  padding     : 8px 10px 8px 10px;
  width       : 50%;
  border-top  : 1px solid #3f464d;
  border-right: 1px solid #3f464d;
  float       : left;
}

li.twitter a {
  display   : inline-block;
  padding   : 8px 10px 8px 10px;
  width     : 50%;
  border-top: 1px solid #3f464d;
  float     : right;
}

.portfolio a:hover {
  background-color: #e74c3c;
}

.facebook a:hover {
  background-color: #3b5998;
}

.twitter a:hover {
  background-color: #1da1f2;
}